<a href="https://colab.research.google.com/github/ysmintor/joyful-pandas/blob/master/%E7%AC%AC1%E7%AB%A0%20Pandas%E5%9F%BA%E7%A1%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
!git clone https://github.com/ysmintor/joyful-pandas

Cloning into 'joyful-pandas'...
remote: Enumerating objects: 127, done.
remote: Counting objects: 100% (127/127), done.
remote: Compressing objects: 100% (73/73), done.
remote: Total 127 (delta 69), reused 109 (delta 54), pack-reused 0
Receiving objects: 100% (127/127), 9.79 MiB | 17.03 MiB/s, done.
Resolving deltas: 100% (69/69), done.

In [4]:
import os
os.getcwd()

'/content'

In [5]:
os.chdir('/content/joyful-pandas')
os.getcwd()

'/content/joyful-pandas'

# 第1章 Pandas基础

In [0]:
import pandas as pd
import numpy as np

#### 查看Pandas版本

In [7]:
pd.__version__

'1.0.3'

## 一、文件读取与写入
### 1. 读取
#### （a）csv格式

In [8]:
df = pd.read_csv('data/table.csv')
df.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

#### （b）txt格式

In [9]:
df_txt = pd.read_table('data/table.txt') #可设置sep分隔符参数
df_txt

   col1 col2  col3    col4
0     2    a   1.4   apple
1     3    b   3.4  banana
2     6    c   2.5  orange
3     5    d   3.2   lemon

#### （c）xls或xlsx格式

In [10]:
#需要安装xlrd包
df_excel = pd.read_excel('data/table.xlsx')
df_excel.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

### 2. 写入

#### （a）csv格式

In [0]:
df.to_csv('data/new_table.csv')
#df.to_csv('data/new_table.csv', index=False) #保存时除去行索引

#### （b）xls或xlsx格式

In [0]:
#需要安装openpyxl
df.to_excel('data/new_table2.xlsx', sheet_name='Sheet1')

## 二、基本数据结构
### 1. Series
#### （a）创建一个Series

#### 对于一个Series，其中最常用的属性为值（values），索引（index），名字（name），类型（dtype）

In [13]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'],name='这是一个Series',dtype='float64')
s

a   -1.322131
b   -1.003923
c   -1.940832
d    0.895133
e   -0.428830
Name: 这是一个Series, dtype: float64

#### （b）访问Series属性

In [14]:
s.values

array([-1.32213104, -1.00392282, -1.94083221,  0.8951327 , -0.42882983])

In [15]:
s.name

'这是一个Series'

In [16]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
s.dtype

dtype('float64')

#### （c）取出某一个元素
#### 将在第2章详细讨论索引的应用，这里先大致了解

In [18]:
s['a']

-1.3221310410312717

#### （d）调用方法

In [19]:
s.mean()

-0.7601166401779089

#### Series有相当多的方法可以调用：

In [20]:
print([attr for attr in dir(s) if not attr.startswith('_')])

['T', 'a', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'b', 'between', 'between_time', 'bfill', 'bool', 'c', 'clip', 'combine', 'combine_first', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'd', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'e', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### 2. DataFrame
#### （a）创建一个DataFrame

In [21]:
df = pd.DataFrame({'col1':list('abcde'),'col2':range(5,10),'col3':[1.3,2.5,3.6,4.6,5.8]},
                 index=list('一二三四五'))
df

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8

#### （b）从DataFrame取出一列为Series

In [22]:
df['col1']

一    a
二    b
三    c
四    d
五    e
Name: col1, dtype: object

In [23]:
type(df)

pandas.core.frame.DataFrame

In [24]:
type(df['col1'])

pandas.core.series.Series

#### （c）修改行或列名

In [25]:
df.rename(index={'一':'one'},columns={'col1':'new_col1'})

    new_col1  col2  col3
one        a     5   1.3
二          b     6   2.5
三          c     7   3.6
四          d     8   4.6
五          e     9   5.8

#### （d）调用属性和方法

In [26]:
df.index

Index(['一', '二', '三', '四', '五'], dtype='object')

In [27]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [28]:
df.values

array([['a', 5, 1.3],
       ['b', 6, 2.5],
       ['c', 7, 3.6],
       ['d', 8, 4.6],
       ['e', 9, 5.8]], dtype=object)

In [29]:
df.shape

(5, 3)

In [30]:
df.mean() #本质上是一种Aggregation操作，将在第3章详细介绍

col2    7.00
col3    3.56
dtype: float64

#### （e）索引对齐特性
#### 这是Pandas中非常强大的特性，不理解这一特性有时就会造成一些麻烦

In [31]:
df1 = pd.DataFrame({'A':[1,2,3]},index=[1,2,3])
df2 = pd.DataFrame({'A':[1,2,3]},index=[3,1,2])
df1-df2 #由于索引对齐，因此结果不是0

   A
1 -1
2 -1
3  2

#### （f）列的删除与添加
#### 对于删除而言，可以使用drop函数或del或pop

In [32]:
df.drop(index='五',columns='col1') #设置inplace=True后会直接在原DataFrame中改动

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6

In [33]:
df['col1']=[1,2,3,4,5]
del df['col1']
df

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

#### pop方法直接在原来的DataFrame上操作，且返回被删除的列，与python中的pop函数类似

In [34]:
df['col1']=[1,2,3,4,5]
df.pop('col1')

一    1
二    2
三    3
四    4
五    5
Name: col1, dtype: int64

In [35]:
df

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

#### 可以直接增加新的列，也可以使用assign方法

In [36]:
df1['B']=list('abc')
df1

   A  B
1  1  a
2  2  b
3  3  c

In [37]:
df1.assign(C=pd.Series(list('def')))

   A  B    C
1  1  a    e
2  2  b    f
3  3  c  NaN

#### 但assign方法不会对原DataFrame做修改

In [38]:
df1

   A  B
1  1  a
2  2  b
3  3  c

#### （g）根据类型选择列

In [39]:
df.select_dtypes(include=['number']).head()

   col2  col3
一     5   1.3
二     6   2.5
三     7   3.6
四     8   4.6
五     9   5.8

In [40]:
df.select_dtypes(include=['float']).head()

   col3
一   1.3
二   2.5
三   3.6
四   4.6
五   5.8

#### （h）将Series转换为DataFrame

In [41]:
s = df.mean()
s.name='to_DataFrame'
s

col2    7.00
col3    3.56
Name: to_DataFrame, dtype: float64

In [42]:
s.to_frame()

      to_DataFrame
col2          7.00
col3          3.56

#### 使用T符号可以转置

In [43]:
s.to_frame().T

              col2  col3
to_DataFrame   7.0  3.56

## 三、常用基本函数
#### 从下面开始，包括后面所有章节，我们都会用到这份虚拟的数据集

In [0]:
df = pd.read_csv('data/table.csv')

### 1. head和tail

In [45]:
df.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

In [46]:
df.tail()

   School Class    ID Gender   Address  Height  Weight  Math Physics
30    S_2   C_4  2401      F  street_2     192      62  45.3       A
31    S_2   C_4  2402      M  street_7     166      82  48.7       B
32    S_2   C_4  2403      F  street_6     158      60  59.7      B+
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
34    S_2   C_4  2405      F  street_6     193      54  47.6       B

#### 可以指定n参数显示多少行

In [47]:
df.head(3)

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+

### 2. unique和nunique

#### nunique显示有多少个唯一值

In [48]:
df['Physics'].nunique()

7

#### unique显示所有的唯一值

In [49]:
df['Physics'].unique()

array(['A+', 'B+', 'B-', 'A-', 'B', 'A', 'C'], dtype=object)

### 3. count和value_counts

#### count返回非缺失值元素个数

In [50]:
df['Physics'].count()

35

#### value_counts返回每个元素有多少个

In [51]:
df['Physics'].value_counts()

B+    9
B     8
B-    6
A     4
A-    3
A+    3
C     2
Name: Physics, dtype: int64

### 4. describe和info

#### info函数返回有哪些列、有多少非缺失值、每列的类型

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   School   35 non-null     object
 1   Class    35 non-null     object
 2   ID       35 non-null     int64
 3   Gender   35 non-null     object
 4   Address  35 non-null     object
 5   Height   35 non-null     int64
 6   Weight   35 non-null     int64
 7   Math     35 non-null     float64
 8   Physics  35 non-null     object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.6+ KB

#### describe默认统计数值型数据的各个统计量

In [53]:
df.describe()

               ID      Height      Weight       Math
count    35.00000   35.000000   35.000000  35.000000
mean   1803.00000  174.142857   74.657143  61.351429
std     536.87741   13.541098   12.895377  19.915164
min    1101.00000  155.000000   53.000000  31.500000
25%    1204.50000  161.000000   63.000000  47.400000
50%    2103.00000  173.000000   74.000000  61.700000
75%    2301.50000  187.500000   82.000000  77.100000
max    2405.00000  195.000000  100.000000  97.000000

#### 可以自行选择分位数

In [54]:
df.describe(percentiles=[.05, .25, .75, .95])

               ID      Height      Weight       Math
count    35.00000   35.000000   35.000000  35.000000
mean   1803.00000  174.142857   74.657143  61.351429
std     536.87741   13.541098   12.895377  19.915164
min    1101.00000  155.000000   53.000000  31.500000
5%     1102.70000  157.000000   56.100000  32.640000
25%    1204.50000  161.000000   63.000000  47.400000
50%    2103.00000  173.000000   74.000000  61.700000
75%    2301.50000  187.500000   82.000000  77.100000
95%    2403.30000  193.300000   97.600000  90.040000
max    2405.00000  195.000000  100.000000  97.000000

#### 对于非数值型也可以用describe函数

In [55]:
df['Physics'].describe()

count     35
unique     7
top       B+
freq       9
Name: Physics, dtype: object

### 5. idxmax和nlargest
#### idxmax函数返回最大值所在索引，在某些情况下特别适用，idxmin功能类似

In [56]:
df['Math'].idxmax()

5

#### nlargest函数返回前几个大的元素值，nsmallest功能类似

In [57]:
df['Math'].nlargest(3)

5     97.0
28    95.5
11    87.7
Name: Math, dtype: float64

### 6. clip和replace

#### clip和replace是两类替换函数
#### clip是对超过或者低于某些值的数进行截断

In [58]:
df['Math'].head()

0    34.0
1    32.5
2    87.2
3    80.4
4    84.8
Name: Math, dtype: float64

In [59]:
df['Math'].clip(33,80).head()

0    34.0
1    33.0
2    80.0
3    80.0
4    80.0
Name: Math, dtype: float64

In [60]:
df['Math'].mad()

16.924244897959188

#### replace是对某些值进行替换

In [61]:
df['Address'].head()

0    street_1
1    street_2
2    street_2
3    street_2
4    street_4
Name: Address, dtype: object

In [62]:
df['Address'].replace(['street_1','street_2'],['one','two']).head()

0         one
1         two
2         two
3         two
4    street_4
Name: Address, dtype: object

#### 通过字典，可以直接在表中修改

In [63]:
df.replace({'Address':{'street_1':'one','street_2':'two'}}).head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M       one     173      63  34.0      A+
1    S_1   C_1  1102      F       two     192      73  32.5      B+
2    S_1   C_1  1103      M       two     186      82  87.2      B+
3    S_1   C_1  1104      F       two     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

### 7. apply函数
#### apply是一个自由度很高的函数，在第3章我们还要提到
#### 对于Series，它可以迭代每一列的值操作：

In [64]:
df['Math'].apply(lambda x:str(x)+'!').head() #可以使用lambda表达式，也可以使用函数

0    34.0!
1    32.5!
2    87.2!
3    80.4!
4    84.8!
Name: Math, dtype: object

#### 对于DataFrame，它可以迭代每一个列操作：

In [65]:
df.apply(lambda x:x.apply(lambda x:str(x)+'!')).head() #这是一个稍显复杂的例子，有利于理解apply的功能

  School Class     ID Gender    Address Height Weight   Math Physics
0   S_1!  C_1!  1101!     M!  street_1!   173!    63!  34.0!     A+!
1   S_1!  C_1!  1102!     F!  street_2!   192!    73!  32.5!     B+!
2   S_1!  C_1!  1103!     M!  street_2!   186!    82!  87.2!     B+!
3   S_1!  C_1!  1104!     F!  street_2!   167!    81!  80.4!     B-!
4   S_1!  C_1!  1105!     F!  street_4!   159!    64!  84.8!     B+!

## 四、排序

### 1. 索引排序

In [66]:
df.set_index('Math').head() #set_index函数可以设置索引，将在下一章详细介绍

     School Class    ID Gender   Address  Height  Weight Physics
Math
34.0    S_1   C_1  1101      M  street_1     173      63      A+
32.5    S_1   C_1  1102      F  street_2     192      73      B+
87.2    S_1   C_1  1103      M  street_2     186      82      B+
80.4    S_1   C_1  1104      F  street_2     167      81      B-
84.8    S_1   C_1  1105      F  street_4     159      64      B+

In [67]:
df.set_index('Math').sort_index().head() #可以设置ascending参数，默认为升序，True

     School Class    ID Gender   Address  Height  Weight Physics
Math
31.5    S_1   C_3  1301      M  street_4     161      68      B+
32.5    S_1   C_1  1102      F  street_2     192      73      B+
32.7    S_2   C_3  2302      M  street_5     171      88       A
33.8    S_1   C_2  1204      F  street_5     162      63       B
34.0    S_1   C_1  1101      M  street_1     173      63      A+

### 2. 值排序

In [68]:
df.sort_values(by='Class').head()

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
15    S_2   C_1  2101      M  street_7     174      84  83.3       C

#### 多个值排序，即先对第一层排，在第一层相同的情况下对第二层排序

In [69]:
df.sort_values(by=['Address','Height']).head()

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
11    S_1   C_3  1302      F  street_1     175      57  87.7      A-
23    S_2   C_2  2204      M  street_1     175      74  47.2      B-
33    S_2   C_4  2404      F  street_2     160      84  67.7       B
3     S_1   C_1  1104      F  street_2     167      81  80.4      B-

## 五、问题与练习
### 1. 问题
#### 【问题一】 Series和DataFrame有哪些常见属性和方法？
#### 【问题二】 value_counts会统计缺失值吗？
#### 【问题三】 如果有多个索引同时取到最大值，idxmax会返回所有这些索引吗？如果不会，那么怎么返回这些索引？
#### 【问题四】 在常用函数一节中，由于一些函数的功能比较简单，因此没有列入，现在将它们列在下面，请分别说明它们的用途并尝试使用。
#### sum/mean/median/mad/min/max/abs/std/var/quantile/cummax/cumsum/cumprod
#### 【问题五】 df.mean(axis=1)是什么意思？它与df.mean()的结果一样吗？问题四提到的函数也有axis参数吗？怎么使用？

### 2. 练习
#### 【练习一】 现有一份关于美剧《权力的游戏》剧本的数据集，请解决以下问题：
#### （a）在所有的数据中，一共出现了多少人物？
#### （b）以单元格计数（即简单把一个单元格视作一句），谁说了最多的话？
#### （c）以单词计数，谁说了最多的单词？（不是单句单词最多，是指每人说过单词的总数最多，为了简便，只以空格为单词分界点，不考虑其他情况）

In [70]:
pd.read_csv('data/Game_of_Thrones_Script.csv').head()

  Release Date  ...                                           Sentence
0    2011/4/17  ...  What do you expect? They're savages. One lot s...
1    2011/4/17  ...  I've never seen wildlings do a thing like this...
2    2011/4/17  ...                             How close did you get?
3    2011/4/17  ...                            Close as any man would.
4    2011/4/17  ...                   We should head back to the wall.

[5 rows x 6 columns]

In [0]:
game_of_thornes=pd.read_csv('data/Game_of_Thrones_Script.csv')

(a) 一共出现了564个人物

In [72]:
game_of_thornes['Name'].nunique()

564

(b) 以单元格计数（即简单把一个单元格视作一句），谁说了最多的话？
首先将这些句子所对应的人物来比较

In [73]:
game_of_thornes['Name'].value_counts()

tyrion lannister      1760
jon snow              1133
daenerys targaryen    1048
cersei lannister      1005
jaime lannister        945
                      ...
mistress                 1
merchant                 1
mar                      1
voices outside           1
kevin                    1
Name: Name, Length: 564, dtype: int64

（c）以单词计数，谁说了最多的单词？（不是单句单词最多，是指每人说过单词的总数最多，为了简便，只以空格为单词分界点，不考虑其他情况）

In [85]:
game_of_thornes_words = game_of_thornes.assign(Words=game_of_thornes['Sentence'].apply(lambda x:len(x.split()))).sort_values(by='Name')
game_of_thornes_words.head()

      Release Date  ... Words
276      2011/4/17  ...     5
3012     2011/6/19  ...     7
3017     2011/6/19  ...     2
15465    2015/5/10  ...    22
15469    2015/5/10  ...     2

[5 rows x 7 columns]

In [87]:
L_count = []
N_words = list(zip(game_of_thornes['Name'],game_of_thornes['Words']))
for i in N_words:
    if i == N_words[0]: # special for first case as to get first
        L_count.append(i[1])
        last = i[0]
    else:
        L_count.append(L_count[-1]+i[1] if i[0]==last else i[1]) # accumate plus same name, else as new person count
        last = i[0]
game_of_thornes['Count']=L_count
game_of_thornes['Name'][game_of_thornes['Count'].idxmax()]

'tyrion lannister'

#### 【练习二】现有一份关于科比的投篮数据集，请解决如下问题：
#### （a）哪种action_type和combined_shot_type的组合是最多的？
#### （b）在所有被记录的game_id中，遭遇到最多的opponent是一个支？（由于一场比赛会有许多次投篮，但对阵的对手只有一个，本题相当于问科比和哪个队交锋次数最多）

In [88]:
df = pd.read_csv('data/Kobe_data.csv',index_col='shot_id')
df.head()
#index_col的作用是将某一列作为行索引

               action_type combined_shot_type  ...    matchup  opponent
shot_id                                        ...
1                Jump Shot          Jump Shot  ...  LAL @ POR       POR
2                Jump Shot          Jump Shot  ...  LAL @ POR       POR
3                Jump Shot          Jump Shot  ...  LAL @ POR       POR
4                Jump Shot          Jump Shot  ...  LAL @ POR       POR
5        Driving Dunk Shot               Dunk  ...  LAL @ POR       POR

[5 rows x 24 columns]

（a）哪种action_type和combined_shot_type的组合是最多的？

In [0]:
comined_series = pd.Series(list(zip(df['action_type'], df['combined_shot_type'])))

In [100]:
comined_series.value_counts().index[0]

('Jump Shot', 'Jump Shot')

（b）在所有被记录的game_id中，遭遇到最多的opponent是一个支？（由于一场比赛会有许多次投篮，但对阵的对手只有一个，本题相当于问科比和哪个队交锋次数最多）

In [0]:
pd.Series(list(list(zip(*(pd.Series(list(zip(df['game_id'],df['opponent'])))
                          .unique()).tolist()))[1])).value_counts().index[0]

In [105]:
list(zip(*(pd.Series(list(zip(df['game_id'],df['opponent'])))
                          .unique()).tolist()))

[(20000012,
  20000019,
  20000047,
  20000049,
  20000058,
  20000068,
  20000098,
  20000108,
  20000124,
  20000140,
  20000147,
  20000168,
  20000180,
  20000198,
  20000206,
  20000222,
  20000230,
  20000246,
  20000258,
  20000267,
  20000280,
  20000297,
  20000309,
  20000320,
  20000334,
  20000347,
  20000352,
  20000373,
  20000379,
  20000397,
  20000420,
  20000434,
  20000456,
  20000484,
  20000519,
  20000529,
  20000545,
  20000571,
  20000583,
  20000599,
  20000616,
  20000629,
  20000641,
  20000651,
  20000666,
  20000682,
  20000702,
  20000710,
  20000723,
  20000739,
  20000753,
  20000767,
  20000828,
  20000852,
  20000860,
  20000871,
  20000884,
  20000896,
  20000936,
  20000942,
  20000958,
  20000965,
  20000981,
  20001059,
  20001121,
  20001136,
  20001162,
  20001177,
  20100012,
  20100023,
  20100033,
  20100051,
  20100083,
  20100097,
  20100119,
  20100127,
  20100143,
  20100152,
  20100161,
  20100178,
  20100192,
  20100204,
  20100225,
  20100235,
  20100259,
  20100271,
  20100301,
  20100320,
  20100336,
  20100360,
  20100367,
  20100387,
  20100399,
  20100413,
  20100428,
  20100440,
  20100456,
  20100468,
  20100482,
  20100490,
  20100506,
  20100514,
  20100525,
  20100542,
  20100558,
  20100588,
  20100595,
  20100609,
  20100622,
  20100628,
  20100639,
  20100653,
  20100668,
  20100691,
  20100707,
  20100720,
  20100730,
  20100741,
  20100758,
  20100768,
  20100778,
  20100790,
  20100803,
  20100816,
  20100830,
  20100865,
  20100898,
  20100914,
  20100926,
  20100934,
  20100950,
  20100962,
  20100970,
  20100986,
  20101000,
  20101016,
  20101022,
  20101040,
  20101055,
  20101057,
  20101069,
  20101084,
  20101100,
  20101121,
  20101136,
  20101159,
  20101164,
  20101188,
  20200003,
  20200014,
  20200029,
  20200045,
  20200053,
  20200069,
  20200076,
  20200106,
  20200127,
  20200142,
  20200151,
  20200160,
  20200178,
  20200194,
  20200199,
  20200206,
  20200223,
  20200243,
  20200254,
  20200262,
  20200278,
  20200292,
  20200305,
  20200326,
  20200341,
  20200352,
  20200367,
  20200372,
  20200392,
  20200404,
  20200425,
  20200431,
  20200471,
  20200476,
  20200490,
  20200516,
  20200530,
  20200546,
  20200563,
  20200587,
  20200602,
  20200616,
  20200651,
  20200667,
  20200676,
  20200691,
  20200705,
  20200719,
  20200727,
  20200743,
  20200757,
  20200769,
  20200774,
  20200790,
  20200806,
  20200820,
  20200833,
  20200842,
  20200880,
  20200890,
  20200901,
  20200917,
  20200925,
  20200938,
  20200946,
  20200960,
  20200983,
  20200993,
  20201003,
  20201017,
  20201028,
  20201046,
  20201062,
  20201066,
  20201086,
  20201093,
  20201113,
  20201123,
  20201136,
  20201159,
  20201176,
  20201189,
  20300037,
  20300040,
  20300050,
  20300064,
  20300070,
  20300091,
  20300111,
  20300124,
  20300138,
  20300146,
  20300156,
  20300172,
  20300187,
  20300208,
  20300222,
  20300234,
  20300251,
  20300258,
  20300284,
  20300298,
  20300318,
  20300326,
  20300369,
  20300385,
  20300400,
  20300403,
  20300429,
  20300462,
  20300476,
  20300488,
  20300500,
  20300515,
  20300531,
  20300625,
  20300655,
  20300756,
  20300772,
  20300780,
  20300793,
  20300808,
  20300831,
  20300836,
  20300848,
  20300858,
  20300881,
  20300926,
  20300943,
  20300952,
  20300966,
  20300981,
  20300995,
  20301012,
  20301033,
  20301046,
  20301063,
  20301075,
  20301088,
  20301100,
  20301110,
  20301121,
  20301145,
  20301157,
  20301175,
  20301187,
  20400003,
  20400014,
  20400027,
  20400044,
  20400053,
  20400065,
  20400073,
  20400087,
  20400115,
  20400126,
  20400145,
  20400158,
  20400181,
  20400198,
  20400205,
  20400216,
  20400231,
  20400272,
  20400294,
  20400301,
  20400315,
  20400328,
  20400338,
  20400358,
  20400377,
  20400382,
  20400407,
  20400439,
  20400452,
  20400461,
  20400477,
  20400494,
  20400512,
  20400518,
  20400746,
  20400767,
  20400789,
  20400799,
  20400811,
  20400819,
  20400831,
  20400845,
  20400864,
  20400880,
  20400895,
  20400903,
  20400915,
  20400930,
  20400937,
  20400954,
  20400960,
  20400984,
  20400994,
  20401009,
  20401035,
  20401051,
  20401065,
  20401082,
  20401092,
  20401118,
  20401130,
  20401142,
  20401154,
  20401196,
  20401208,
  20401228,
  20500016,
  20500019,
  20500045,
  20500051,
  20500064,
  20500077,
  20500095,
  20500114,
  20500130,
  20500145,
  20500168,
  20500192,
  20500203,
  20500218,
  20500228,
  20500244,
  20500251,
  20500258,
  20500274,
  20500286,
  20500297,
  20500314,
  20500332,
  20500346,
  20500359,
  20500372,
  20500386,
  20500387,
  20500412,
  20500471,
  20500480,
  20500490,
  20500507,
  20500512,
  20500532,
  20500547,
  20500563,
  20500573,
  20500591,
  20500631,
  20500646,
  20500658,
  20500664,
  20500679,
  20500689,
  20500709,
  20500720,
  20500741,
  20500756,
  20500775,
  20500790,
  20500802,
  20500813,
  20500826,
  20500841,
  20500852,
  20500865,
  20500873,
  20500888,
  20500903,
  20500916,
  20500930,
  20500948,
  20500959,
  20500968,
  20500981,
  20500988,
  20501010,
  20501026,
  20501042,
  20501066,
  20501078,
  20501089,
  20501120,
  20501130,
  20501148,
  20501161,
  20501185,
  20501196,
  20501229,
  20600029,
  20600044,
  20600057,
  20600066,
  20600081,
  20600096,
  20600127,
  20600142,
  20600157,
  20600181,
  20600199,
  20600212,
  20600223,
  20600242,
  20600254,
  20600270,
  20600299,
  20600311,
  20600324,
  20600340,
  20600355,
  20600362,
  20600372,
  20600381,
  20600403,
  20600418,
  20600431,
  20600456,
  20600478,
  20600489,
  20600504,
  20600511,
  20600523,
  20600539,
  20600564,
  20600576,
  20600580,
  20600598,
  20600614,
  20600644,
  20600657,
  20600678,
  20600691,
  20600699,
  20600714,
  20600735,
  20600738,
  20600759,
  20600774,
  20600789,
  20600809,
  20600825,
  20600838,
  20600847,
  20600878,
  20600890,
  20600902,
  20600919,
  20600941,
  20600969,
  20600977,
  20600994,
  20601016,
  20601027,
  20601044,
  20601057,
  20601081,
  20601099,
  20601107,
  20601118,
  20601133,
  20601144,
  20601154,
  20601174,
  20601185,
  20601202,
  20601227,
  20700002,
  20700026,
  20700042,
  20700052,
  20700076,
  20700101,
  20700113,
  20700129,
  20700144,
  20700152,
  20700162,
  20700172,
  20700196,
  20700210,
  20700222,
  20700231,
  20700249,
  20700259,
  20700270,
  20700300,
  20700326,
  20700338,
  20700353,
  20700363,
  20700379,
  20700382,
  20700400,
  20700406,
  20700432,
  20700448,
  20700482,
  20700497,
  20700504,
  20700515,
  20700531,
  20700546,
  20700553,
  20700572,
  20700607,
  20700618,
  20700633,
  20700643,
  20700664,
  20700675,
  20700679,
  20700696,
  20700710,
  20700713,
  20700728,
  20700745,
  20700753,
  20700772,
  20700789,
  20700796,
  20700822,
  20700830,
  20700843,
  20700857,
  20700868,
  20700876,
  20700895,
  20700923,
  20700938,
  20700951,
  20700970,
  20700988,
  20701003,
  20701018,
  20701027,
  20701043,
  20701051,
  20701069,
  20701082,
  20701098,
  20701122,
  20701135,
  20701150,
  20701161,
  20701175,
  20701187,
  20701198,
  20701216,
  20800003,
  20800015,
  20800037,
  20800063,
  20800092,
  20800102,
  20800112,
  20800131,
  20800158,
  20800170,
  20800183,
  20800197,
  20800209,
  20800235,
  20800251,
  20800255,
  20800267,
  20800277,
  20800300,
  20800313,
  20800322,
  20800336,
  20800350,
  20800365,
  20800385,
  20800390,
  20800405,
  20800417,
  20800423,
  20800449,
  20800487,
  20800500,
  20800513,
  20800525,
  20800538,
  20800552,
  20800562,
  20800574,
  20800589,
  20800612,
  20800627,
  20800629,
  20800647,
  20800666,
  20800687,
  20800695,
  20800709,
  20800721,
  20800732,
  20800751,
  20800772,
  20800782,
  20800797,
  20800807,
  20800821,
  20800834,
  20800846,
  20800862,
  20800871,
  20800884,
  20800904,
  20800925,
  20800948,
  20800962,
  20800966,
  20800991,
  20801008,
  20801022,
  20801038,
  20801056,
  20801070,
  20801078,
  20801092,
  20801104,
  20801117,
  20801134,
  20801152,
  20801160,
  20801175,
  20801186,
  20801201,
  20801216,
  20900004,
  20900031,
  20900045,
  20900057,
  20900066,
  20900083,
  20900097,
  20900123,
  20900131,
  20900146,
  20900157,
  20900172,
  20900197,
  20900207,
  20900238,
  20900248,
  20900258,
  20900281,
  20900295,
  20900316,
  20900329,
  20900337,
  20900354,
  20900363,
  20900388,
  20900396,
  20900413,
  20900426,
  20900437,
  20900448,
  20900458,
  20900476,
  20900493,
  20900506,
  20900516,
  20900527,
  20900543,
  20900556,
  20900564,
  20900582,
  20900605,
  20900621,
  20900632,
  20900648,
  20900658,
  20900664,
  20900678,
  20900696,
  20900706,
  20900727,
  20900740,
  20900841,
  20900852,
  20900869,
  20900879,
  20900898,
  20900912,
  20900914,
  20900935,
  20900952,
  20900974,
  20900995,
  20901004,
  20901028,
  20901041,
  20901066,
  20901078,
  20901085,
  20901099,
  20901107,
  20901131,
  20901142,
  20901196,
  21000003,
  21000030,
  21000043,
  21000053,
  21000065,
  21000079,
  21000094,
  21000107,
  21000120,
  21000143,
  21000155,
  21000161,
  21000176,
  21000194,
  21000208,
  21000231,
  21000249,
  21000258,
  21000269,
  21000287,
  21000315,
  21000326,
  21000333,
  21000351,
  21000362,
  21000367,
  21000383,
  21000402,
  21000420,
  21000435,
  21000460,
  21000467,
  21000483,
  21000498,
  21000511,
  21000521,
  21000535,
  21000550,
  21000560,
  21000571,
  21000586,
  21000596,
  21000610,
  21000621,
  21000637,
  21000667,
  21000692,
  21000702,
  21000718,
  21000732,
  21000748,
  21000759,
  21000783,
  21000793,
  21000805,
  21000812,
  21000827,
  21000846,
  21000858,
  21000871,
  21000880,
  21000900,
  21000924,
  21000932,
  21000947,
  21000964,
  21000982,
  21000999,
  21001028,
  21001043,
  21001053,
  21001080,
  21001094,
  21001119,
  21001132,
  21001139,
  21001161,
  21001173,
  21001187,
  21001201,
  21001215,
  21001230,
  21100003,
  21100015,
  21100022,
  21100038,
  21100050,
  21100063,
  21100081,
  21100097,
  21100109,
  21100125,
  21100141,
  21100151,
  21100169,
  21100180,
  21100194,
  21100213,
  21100223,
  21100241,
  21100268,
  21100288,
  21100297,
  21100313,
  21100341,
  21100351,
  21100357,
  21100384,
  21100395,
  21100408,
  21100428,
  21100455,
  21100469,
  21100479,
  21100497,
  21100502,
  21100523,
  21100538,
  21100547,
  21100567,
  21100571,
  21100589,
  21100604,
  21100621,
  21100631,
  21100652,
  21100669,
  21100679,
  21100692,
  21100709,
  21100726,
  21100742,
  21100756,
  21100769,
  21100784,
  21100798,
  21100810,
  21100825,
  21100941,
  21100952,
  21200003,
  21200012,
  21200025,
  21200041,
  21200062,
  21200080,
  21200094,
  21200108,
  21200130,
  21200146,
  21200156,
  21200169,
  21200177,
  21200187,
  21200208,
  21200232,
  21200244,
  21200256,
  21200263,
  21200280,
  21200297,
  21200305,
  21200323,
  21200326,
  21200347,
  21200364,
  21200398,
  21200406,
  21200419,
  21200435,
  21200463,
  21200488,
  21200503,
  21200514,
  21200522,
  21200539,
  21200555,
  21200569,
  21200583,
  21200601,
  21200612,
  21200621,
  21200641,
  21200653,
  21200669,
  21200681,
  21200695,
  21200706,
  21200716,
  21200733,
  21200736,
  21200753,
  21200773,
  21200788,
  21200807,
  21200821,
  21200830,
  21200841,
  21200863,
  21200888,
  21200897,
  21200906,
  21200925,
  21200935,
  21200949,
  21200960,
  21200971,
  21201032,
  21201053,
  21201066,
  21201071,
  21201093,
  21201110,
  21201137,
  21201146,
  21201162,
  21201171,
  21201189,
  21300303,
  21300317,
  21300336,
  21300342,
  21300357,
  21300366,
  21400003,
  21400013,
  21400026,
  21400038,
  21400056,
  21400097,
  21400104,
  21400114,
  21400131,
  21400145,
  21400155,
  21400169,
  21400180,
  21400197,
  21400222,
  21400234,
  21400248,
  21400255,
  21400264,
  21400279,
  21400300,
  21400315,
  ...),
 ('POR',
  'UTA',
  'VAN',
  'LAC',
  'HOU',
  'SAS',
  'HOU',
  'DEN',
  'SAC',
  'DEN',
  'CHI',
  'GSW',
  'MIN',
  'LAC',
  'IND',
  'SEA',
  'SAS',
  'DAL',
  'PHI',
  'GSW',
  'SEA',
  'DET',
  'MIL',
  'POR',
  'VAN',
  'TOR',
  'MIA',
  'HOU',
  'DAL',
  'POR',
  'PHX',
  'LAC',
  'UTA',
  'LAC',
  'CLE',
  'UTA',
  'VAN',
  'HOU',
  'MIA',
  'SEA',
  'NJN',
  'NYK',
  'CLE',
  'MIN',
  'CHA',
  'SAC',
  'PHX',
  'NJN',
  'PHI',
  'CHA',
  'IND',
  'DAL',
  'DEN',
  'VAN',
  'GSW',
  'GSW',
  'TOR',
  'SAS',
  'DET',
  'WAS',
  'ORL',
  'ATL',
  'MIL',
  'NYK',
  'PHX',
  'MIN',
  'POR',
  'DEN',
  'POR',
  'UTA',
  'PHX',
  'UTA',
  'MEM',
  'ORL',
  'HOU',
  'PHX',
  'SAC',
  'LAC',
  'DEN',
  'GSW',
  'DEN',
  'MIL',
  'SEA',
  'MIN',
  'DAL',
  'SAC',
  'SEA',
  'LAC',
  'GSW',
  'HOU',
  'MEM',
  'PHI',
  'GSW',
  'TOR',
  'HOU',
  'DEN',
  'PHX',
  'TOR',
  'DET',
  'IND',
  'MIN',
  'CHI',
  'MEM',
  'MIA',
  'SAS',
  'DEN',
  'LAC',
  'SAS',
  'PHI',
  'ATL',
  'ORL',
  'MEM',
  'DAL',
  'CHI',
  'WAS',
  'SEA',
  'ATL',
  'POR',
  'BOS',
  'CLE',
  'CHA',
  'NYK',
  'MIL',
  'MIN',
  'IND',
  'UTA',
  'NYK',
  'CHA',
  'GSW',
  'LAC',
  'DAL',
  'DAL',
  'SAS',
  'DET',
  'SAC',
  'CLE',
  'PHX',
  'POR',
  'SAS',
  'WAS',
  'NJN',
  'BOS',
  'MIA',
  'UTA',
  'MIN',
  'POR',
  'SEA',
  'SAC',
  'SAS',
  'POR',
  'LAC',
  'POR',
  'CLE',
  'BOS',
  'WAS',
  'ATL',
  'GSW',
  'HOU',
  'DAL',
  'SAS',
  'CHI',
  'MIL',
  'MIA',
  'ORL',
  'MEM',
  'MIN',
  'MEM',
  'UTA',
  'DAL',
  'UTA',
  'GSW',
  'NOH',
  'ORL',
  'MIN',
  'NJN',
  'PHI',
  'TOR',
  'SAC',
  'DEN',
  'TOR',
  'PHX',
  'PHX',
  'SEA',
  'CLE',
  'MIA',
  'NOH',
  'HOU',
  'LAC',
  'GSW',
  'NJN',
  'PHX',
  'SAC',
  'UTA',
  'IND',
  'NYK',
  'DEN',
  'DEN',
  'SAS',
  'NYK',
  'HOU',
  'UTA',
  'POR',
  'SEA',
  'LAC',
  'DET',
  'SEA',
  'IND',
  'MIN',
  'PHI',
  'CHI',
  'DET',
  'MIN',
  'MIL',
  'LAC',
  'SAC',
  'BOS',
  'SAS',
  'ATL',
  'HOU',
  'WAS',
  'SEA',
  'MEM',
  'DAL',
  'MEM',
  'PHX',
  'DAL',
  'SAC',
  'POR',
  'DEN',
  'GSW',
  'PHX',
  'GSW',
  'MIL',
  'SAS',
  'NOH',
  'MEM',
  'TOR',
  'DET',
  'MIA',
  'DET',
  'NYK',
  'CHI',
  'MEM',
  'WAS',
  'SAS',
  'IND',
  'SAS',
  'DAL',
  'UTA',
  'NYK',
  'DAL',
  'POR',
  'DEN',
  'PHX',
  'GSW',
  'HOU',
  'BOS',
  'SEA',
  'LAC',
  'MIN',
  'DEN',
  'ATL',
  'CLE',
  'UTA',
  'SEA',
  'HOU',
  'POR',
  'GSW',
  'PHI',
  'PHX',
  'DEN',
  'SAC',
  'WAS',
  'NJN',
  'HOU',
  'BOS',
  'MIN',
  'CHI',
  'ORL',
  'LAC',
  'LAC',
  'MIL',
  'SAC',
  'MIN',
  'UTA',
  'NOH',
  'HOU',
  'SEA',
  'SAS',
  'POR',
  'MEM',
  'SAC',
  'GSW',
  'POR',
  'DEN',
  'UTA',
  'SAS',
  'ATL',
  'NOP',
  'MEM',
  'ORL',
  'HOU',
  'LAC',
  'PHX',
  'CHI',
  'MIL',
  'SAC',
  'NOP',
  'MIL',
  'CHI',
  'GSW',
  'PHX',
  'LAC',
  'ORL',
  'SEA',
  'SAC',
  'WAS',
  'MEM',
  'NOP',
  'MIA',
  'TOR',
  'DEN',
  'SAS',
  'DAL',
  'HOU',
  'MIN',
  'DEN',
  'CLE',
  'CLE',
  'UTA',
  'BOS',
  'POR',
  'DET',
  'TOR',
  'NYK',
  'BOS',
  'DAL',
  'IND',
  'LAC',
  'DAL',
  'CHA',
  'WAS',
  'PHI',
  'MIA',
  'IND',
  'SEA',
  'UTA',
  'DEN',
  'PHI',
  'NYK',
  'MIN',
  'SAS',
  'MEM',
  'HOU',
  'SEA',
  'SAC',
  'PHX',
  'DAL',
  'GSW',
  'POR',
  'DEN',
  'PHX',
  'DEN',
  'ATL',
  'MIN',
  'PHI',
  'MEM',
  'NYK',
  'LAC',
  'CHI',
  'SEA',
  'NJN',
  'SAS',
  'UTA',
  'MIN',
  'CHA',
  'MIL',
  'TOR',
  'CHI',
  'MIN',
  'DAL',
  'MEM',
  'WAS',
  'HOU',
  'DAL',
  'ORL',
  'MIA',
  'WAS',
  'MEM',
  'PHI',
  'LAC',
  'IND',
  'POR',
  'CLE',
  'GSW',
  'MIA',
  'SAC',
  'PHX',
  'TOR',
  'GSW',
  'DET',
  'NYK',
  'IND',
  'CHA',
  'NOP',
  'DAL',
  'HOU',
  'MEM',
  'UTA',
  'ATL',
  'POR',
  'SAC',
  'LAC',
  'BOS',
  'ORL',
  'POR',
  'GSW',
  'DET',
  'SAS',
  'NOP',
  'SAS',
  'SEA',
  'SAC',
  'MIN',
  'NJN',
  'CLE',
  'BOS',
  'SAC',
  'MIL',
  'NOP',
  'SAS',
  'SEA',
  'HOU',
  'DEN',
  'PHX',
  'LAC',
  'GSW',
  'POR',
  'PHX',
  'NOP',
  'SEA',
  'SEA',
  'MIN',
  'POR',
  'DET',
  'MEM',
  'TOR',
  'CHI',
  'LAC',
  'UTA',
  'NJN',
  'MIL',
  'UTA',
  'LAC',
  'IND',
  'NOP',
  'SAS',
  'HOU',
  'DAL',
  'HOU',
  'WAS',
  'CHI',
  'MIN',
  'NJN',
  'MIA',
  'ORL',
  'CHA',
  'PHI',
  'SAC',
  'DEN',
  'DAL',
  'MEM',
  'HOU',
  'ORL',
  'MIA',
  'SAS',
  'DAL',
  'NOP',
  'GSW',
  'CHA',
  'SAS',
  'BOS',
  'IND',
  'WAS',
  'ATL',
  'DET',
  'TOR',
  'CLE',
  'NYK',
  'CLE',
  'POR',
  'BOS',
  'GSW',
  'UTA',
  'SAC',
  'PHX',
  'MIN',
  'PHI',
  'DAL',
  'DEN',
  'POR',
  'MIN',
  'MEM',
  'NOP',
  'GSW',
  'MEM',
  'HOU',
  'SAC',
  'DEN',
  'LAC',
  'SEA',
  'PHX',
  'DEN',
  'LAC',
  'PHX',
  'SEA',
  'SAC',
  'HOU',
  'PHX',
  'UTA',
  'NOH',
  'MIN',
  'SAS',
  'HOU',
  'DET',
  'CHI',
  'IND',
  'MIL',
  'BOS',
  'NJN',
  'SEA',
  'DEN',
  'UTA',
  'ORL',
  'MIN',
  'DEN',
  'GSW',
  'SAS',
  'GSW',
  'LAC',
  'CHI',
  'CLE',
  'PHI',
  'NYK',
  'PHX',
  'UTA',
  'BOS',
  'PHI',
  'IND',
  'MEM',
  'NOH',
  'MIL',
  'MEM',
  'SEA',
  'PHX',
  'DEN',
  'SAS',
  'DAL',
  'CLE',
  'NYK',
  'DET',
  'TOR',
  'WAS',
  'NJN',
  'ATL',
  'ORL',
  'MIA',
  'CHA',
  'MIN',
  'ATL',
  'PHX',
  'LAC',
  'SEA',
  'POR',
  'MIA',
  'POR',
  'DAL',
  'SAC',
  'LAC',
  'SAC',
  'TOR',
  'NOH',
  'HOU',
  'DAL',
  'UTA',
  'SEA',
  'GSW',
  'GSW',
  'CHA',
  'MEM',
  'WAS',
  'POR',
  'DAL',
  'SAC',
  'POR',
  'LAC',
  'NOH',
  'SAS',
  'SAC',
  'POR',
  'LAC',
  'DEN',
  'LAC',
  'HOU',
  'DAL',
  'NOH',
  'DET',
  'CHI',
  'PHX',
  'DEN',
  'SAC',
  'NJN',
  'DAL',
  'TOR',
  'IND',
  'PHI',
  'WAS',
  'MIL',
  'SAC',
  'PHX',
  'SAC',
  'MIN',
  'NYK',
  'MIA',
  'ORL',
  'MEM',
  'NOH',
  'BOS',
  'GSW',
  'UTA',
  'POR',
  'NOH',
  'GSW',
  'IND',
  'MIA',
  'HOU',
  'SAS',
  'ORL',
  'CLE',
  'LAC',
  'WAS',
  'SAS',
  'CHA',
  'MIN',
  'MEM',
  'NYK',
  'TOR',
  'BOS',
  'CLE',
  'OKC',
  'UTA',
  'ATL',
  'GSW',
  'NOH',
  'MIN',
  'OKC',
  'PHX',
  'DEN',
  'PHX',
  'MEM',
  'MIN',
  'POR',
  'HOU',
  'SAS',
  'DAL',
  'PHI',
  'GSW',
  'CHI',
  'OKC',
  'DET',
  'NJN',
  'ATL',
  'CHA',
  'MIL',
  'HOU',
  'LAC',
  'SAC',
  'DEN',
  'POR',
  'MEM',
  'UTA',
  'LAC',
  'DAL',
  'ATL',
  'OKC',
  'HOU',
  'MEM',
  'NOH',
  'PHX',
  'DEN',
  'HOU',
  'DET',
  'CHI',
  'OKC',
  'NYK',
  'GSW',
  'NJN',
  'NOH',
  'MIA',
  'PHX',
  'UTA',
  'MIN',
  'UTA',
  'CHI',
  'MIL',
  'NJN',
  'DET',
  'OKC',
  'CLE',
  'SAC',
  'PHX',
  'GSW',
  'SAC',
  'DAL',
  'HOU',
  'LAC',
  'POR',
  'MIL',
  'SAS',
  'DAL',
  'LAC',
  'ORL',
  'CLE',
  'NYK',
  'TOR',
  'WAS',
  'IND',
  'PHI',
  'BOS',
  'MEM',
  'CHA',
  'DEN',
  'MEM',
  'DAL',
  'PHI',
  'DEN',
  'IND',
  'MIA',
  'CHA',
  'ORL',
  'TOR',
  'PHX',
  'GSW',
  'SAC',
  'MIN',
  'WAS',
  'SAS',
  'OKC',
  'HOU',
  'NOH',
  'ATL',
  'UTA',
  'SAS',
  'POR',
  'HOU',
  'PHX',
  'GSW',
  'MEM',
  'SAC',
  'TOR',
  'POR',
  'MIN',
  'DEN',
  'PHX',
  'MIL',
  'DET',
  'MIN',
  'GSW',
  'CHI',
  'UTA',
  'IND',
  'MEM',
  'HOU',
  'SAC',
  'WAS',
  'LAC',
  'CHI',
  'NJN',
  'WAS',
  'IND',
  'PHI',
  'TOR',
  'MIL',
  'MIA',
  'SAS',
  'NOH',
  'PHI',
  'MEM',
  'DET',
  'PHX',
  'NOH',
  'NYK',
  'CLE',
  'GSW',
  'NJN',
  'LAC',
  'OKC',
  'DAL',
  'DEN',
  'UTA',
  'SAC',
  'BOS',
  'HOU',
  'SAS',
  'NOH',
  'MEM',
  'BOS',
  'NYK',
  'ORL',
  'CHA',
  'CLE',
  'ATL',
  'POR',
  'LAC',
  'OKC',
  'MIN',
  'CHA',
  'SAS',
  'ATL',
  'MIA',
  'DAL',
  'ORL',
  'MIN',
  'POR',
  'PHX',
  'LAC',
  'NOH',
  'DAL',
  'UTA',
  'DEN',
  'UTA',
  'GSW',
  'POR',
  'OKC',
  'SAS',
  'SAC',
  'CHI',
  'SAC',
  'UTA',
  'NYK',
  'DEN',
  'DEN',
  'HOU',
  'POR',
  'GSW',
  'MEM',
  'PHX',
  'UTA',
  'CLE',
  'LAC',
  'DAL',
  'MIA',
  'ORL',
  'IND',
  'LAC',
  'MIL',
  'MIN',
  'CHA',
  'DEN',
  'UTA',
  'PHI',
  'BOS',
  'NYK',
  'TOR',
  'ATL',
  'PHX',
  'PHX',
  'POR',
  'DAL',
  'OKC',
  'MIN',
  'SAC',
  'MIA',
  'DET',
  'WAS',
  'MIN',
  'BOS',
  'MEM',
  'NOH',
  'MIN',
  'UTA',
  'HOU',
  'DAL',
  'POR',
  'MEM',
  'GSW',
  'OKC',
  'NOH',

In [110]:
pd.Series(list(zip(df['game_id'],df['opponent']))).unique()

array([(20000012, 'POR'), (20000019, 'UTA'), (20000047, 'VAN'), ...,
       (49900086, 'IND'), (49900087, 'IND'), (49900088, 'IND')],
      dtype=object)